/* make everything flex? */

html,
body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   margin: 0px;
   padding: 0px;
   font-family: 'Arial', 'Helvetica Neue',  Helvetica, sans-serif;
   background-image: url("../images/texture.png");
   color: #777777;
   position: relative;
}

header {
   background-color: white;
   color: #9da0a5;
   margin: 0px 0px 30px 0px;
   justify-content: center;
   display: flex;
   border-bottom: solid;
   border-width: 2px;
   border-color: #cccccc;
   min-height: 72px;
}

.head-container{
   display: flex;
   width: 960px;
   justify-content: space-between;
}

h1 {
   font-family: 'Georgia', 'Times New Roman', Times, serif;
   margin: 0px;
   padding: 0px;
   font-size: 28px;
}

#name {
   padding: 20px;
   background-color: #4aaaa5;
   color: white;
}

.nav {
   display: flex;
   align-items: center;
}

ul {
   padding: 0px;
   margin: 0px;
}

li {
   padding: 0px 10px;
   margin: 0px;
   display: inline;
   vertical-align: middle;
}

a {
   color: #9da0a5;
   text-decoration: none;
}

#link {
   border-left: solid;
   border-right: solid;
   border-width: 1px;
}

.content-container {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
   width: 960px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
}

.content {
   background-color: white;
   border: solid;
   border-width: 1px;
   border-color: #dddddd;
   padding: 30px;
}

#content-title {
   color: #4aaaa5;
   padding-bottom: 25px;
   padding-top: 0px;
}

#line {
   padding: 0px;
   margin: 0px 0px 20px 0px;
}

#headshot {
   float: left;
   width: 200px;
   height: 200px;
   margin: 8px 20px 10px 0px;
}

#content-text {
   margin-top: 0px;
   line-height: 200%;
}

.push {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

footer {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   border-top: solid;
   border-width: 10px;
   border-color: #4aaaa5;
   bottom: 0px;
   width: 100%;
   height: 50px;
   text-align: center;
   background-color: #666666;
   color: #9da0a5;
   margin-top: 90px;
}

#cr {
   margin: 20px 0 0 0;
   padding: 0px;
}

.projects {
   display: block;
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 960px;
}

#friendly,
#sqrt,
#flashform,
#flashpopup,
#snackshop,
#reminder,
#rowshow {
   float: left;
   width: 200px;
   height: 150px;
   margin: 20px 50px 30px 0px;
   padding: 0px;
   text-align: center;
   color: white;
}

.label {
   margin: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   position: relative;
   width: 200px;
   bottom: 55px;
   left: 0px;
   background-color: #4aaaa5;
   color: white;
   text-align: center;
}

.contact {
   width: 883px;
   height: 30px;
   margin: 5px 0px;
   padding-left: 10px;
   font-size: 14px;
}

textarea {
   min-width: 885px;
   max-width: 885px;
   min-height: 300px;
   max-height: 300px;
   padding: 10px 0px 0px 10px;
   font-size: 14px;
   border: solid 1px #cccccc;
}

::-webkit-input-placeholder {
   opacity: 0.5;
}

::-moz-placeholder {
   opacity: 0.5;
}